<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no,email=no"/>
    <meta name="screen-orientation" content="portrait">
    <title>大转盘</title>
    <script src="../bower_components/top-webapp/script/base.js"></script>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body ng-controller="AppCtrl">
<div class="m-lottery-dial f-box">
    <div class="game-dial" ui-lottery-dial
         lottery="lottery"
         on-ready="onReady(config)"
         on-result="onResult(result)"></div>
    <dl class="des" ng-hide="lottery.config == null">
        <dt>【摇奖机规则】</dt>
        <dd ng-repeat="rul in lottery.config.rul" ng-bind="rul.remark_content"></dd>
        <dt>【奖品兑换】</dt>
        <dd ng-repeat="des in lottery.config.des" ng-bind="des.remark_content"></dd>
    </dl>
</div>
</body>
<script src="../bower_components/angular/angular.js"></script>
<script src="js/ng-lottery.min.js"></script>
<script>
    var app = angular.module('app', ['ngLottery']);
    app.constant('lotteryConfig', {
        request: {
            data: {
                'lottery_id': 58,
                'userAccount': getQueryString('userAccount') || ''
            },
            url: 'http://cif-voteproxy.heikuai.com:8301/votepoxyif/common/common!getInterface.action',
            ifName: ['IF00200010', 'IF00200011']
        },
        game: {
            speed: 30, //每帧速度
            areaNumber: 8 //奖区数量
        }
    });
    app.controller('AppCtrl', ['$scope', '$timeout', function ($scope, $timeout) {
        $scope.lottery = null;
        $scope.onReady = function (config) {
            document.title = config.lottery_name;
        };
        $scope.onResult = function (result) {
            console.log(result);
        };
    }]);
</script>
</html>
